<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.CartMapper">

	<select id="getList" resultType="org.zerock.domain.CartVO">
	<![CDATA[
		select * from CART_TBL where ID = 'user1'
	]]>
	</select>
	
	<select id="getListPaging" resultType="org.zerock.domain.CartVO">
		<![CDATA[
		select 
			CNO, ID, PRICE, PNAME, COUNT, PIMAGE, INAME, PRODUCTID
		from 
			(
			select /*+INDEX_DESC(CART_TBL pk_cart) */
			rownum rn, CNO, ID, PRICE, PNAME, COUNT, PIMAGE, INAME, PRODUCTID
			from 
			CART_TBL
			where 
			rownum <= #{pageNum} * #{amount}
			)
		where rn > (#{pageNum} -1) * #{amount} 
		]]>
	</select>

	<insert id="insert">
		insert into CART_TBL (CNO, ID, PRICE, PNAME, COUNT, PIMAGE, INAME, PRODUCTID)
		values (seq_cart.nextval, #{id}, #{price}, #{pname}, 1, #{pimage}, #{iname}, #{productid})
	</insert>
	
	<delete id="delete">
		delete from CART_TBL where cno = #{cno}
	</delete>
	
	<update id="update">
		update CART_TBL set count = count+1 where ID = #{id} AND PRODUCTID = #{productid}
	</update>
	
	<select id="getTotalCount" resultType="int">
		select count(*) from CART_TBL where ID = 'user1'
	</select>
	
	<select id="getpIdList" resultType="Long">
		select PRODUCTID from cart_tbl where ID = 'user1'
	</select>

</mapper>