<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.CartMapper">
	<select id="getList" resultType="org.zerock.domain.CartVO">
	<![CDATA[
		select * from CART_TBL where ID = 'user1'
	]]>
	</select>

	<insert id="insert">
		insert into CART_TBL (CNO, ID, PRICE, PNAME, COUNT)
		values (seq_cart.nextval, #{id}, #{price}, #{pname}, #{count})
	</insert>
	
	<delete id="delete">
		delete from CART_TBL where cno = #{cno}
	</delete>
	
	<update id="update">
		update CART_TBL
		set count = #{count}
		where cno = #{cno}
	</update>

</mapper>