<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.OwnMapper">

	<select id="getList" resultType="org.zerock.domain.OwnVO">
	<![CDATA[
		select * from OWN_TBL where ID = 'user1'
	]]>
	</select>
	
	<select id="getListPaging" resultType="org.zerock.domain.OwnVO">
		<![CDATA[
		select 
			ownno, ID, ingredient
		from 
			(
			select /*+INDEX_DESC(OWN_TBL pk_own) */
			rownum rn, ownno, ID, ingredient
			from 
			WON_TBL
			where 
			rownum <= #{pageNum} * #{amount}
			)
		where rn > (#{pageNum} -1) * #{amount} 
		]]>
	</select>

	<insert id="insert">
		insert into OWN_TBL (OWNNO, ID, INGRENAME)
		values (seq_own.nextval, #{id}, #{ingreName})
	</insert>
	
	<delete id="delete">
		delete from OWN_TBL where OWNNO = #{ownNo}
	</delete>
	
	<select id="getTotalCount" resultType="int">
		select count(*) from OWN_TBL where ID = 'user1'
	</select>
	
	<select id="autocomplete" parameterType="map" resultType="map">
		SELECT rownum rn, INGRENAME
		FROM (select DISTINCT INGRENAME from INGREDIENT_TBL)
		WHERE INGRENAME LIKE  '%'|| #{value} || '%'
	</select>

</mapper>