<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.ReplyMapper">

  <insert id="insert">
  	insert into reply_tbl (rno, bno, reply, id)
  	values(seq_reply.nextval, #{bno}, #{reply}, #{id})
  </insert>
  
   <select id="read" resultType="org.zerock.domain.ReplyVO">
  	select * from reply_tbl where rno = #{rno}
  </select>
    
    <delete id="delete">
  	delete from reply_tbl where rno = #{rno}
  </delete>
  
  <update id ="update">
  	update reply_tbl set reply = #{reply}, updatedate = sysdate where rno = #{rno}
  </update>
  

    <select id="getListWithPaging" resultType="org.zerock.domain.ReplyVO">
		<![CDATA[
			select rno,id,bno,reply,replydate,updatedate
			from (
				select /*+INDEX_DESC(reply_tbl pk_reply) */
				rownum rn , rno, id, bno , reply,replydate, updatedate
				from reply_tbl
				where bno = #{bno}
				and rownum <= #{cri.pageNum} * #{cri.amount}
				)
			where rn > (#{cri.pageNum} -1 ) * #{cri.amount}
		]]>				

  </select>
  
  <select id = "getCountByBno" resultType = "int">
  	<![CDATA[
  		select count(rno) from reply_tbl where bno = #{bno}
  	]]>
  </select>
  
</mapper>

