.card {
	width: 250px;
	border: 1px solid black;
	flex-direction: column;
	padding : 10px;
	margin : auto;
}

.card-img {
	height: 150px;
	display: flex;
}

.card-head {
	height: 70px;
	background-color: thistle;
	font-size : 20px;
	text-align : center;
}


.card-main {
	height: 130px;
	font-size : 20px;
	text-align : center;

}

.card-footer {
	height: 50px;
	background-color: thistle;
	text-align : center;
}

.card-container > .card {
	float : left;
	
}

.card {
	margin : 15px;
}


.slick-prev{
	left: 200px;
    z-index: 1;
}
.slick-next{
	right : 200px;
    z-index: 1;
}


.slide_div img{
	margin: auto;
	display : flex;
	justify-content : center;
	align-item : center;
	object-fit : cover;
}

.slide_div_wrap{
	padding: 15px 0 15px 0;
    background-color: #CCCCCC;
    text-align : center;
    overflow: hidden;
}

