.card {
	width: 350px;
	border: 0px solid black;
	flex-direction: column;
	padding : 10px;
	margin : auto;
}

.card-img {
	max-width : 100%;
	height: 250px;
	display: flex;
	align-item : center;
}

.card-head {
	height: 50px;
	font-size : 20px;
	text-align : center;
}


.card-main {
	height: 130px;
	font-size : 20px;
	text-align : center;

}

.card-footer {
	height: 50px;
	background-color: thistle;
	text-align : center;
}

.card-container > .card {
	float : left;
	
}

.card {
	margin : 15px;
}


#searchForm {
	  	display: flex;
  		width: 100%;
  		max-width: 600px;
	
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 5px 0 0 5px;
  font-size: 16px;
  display : flex;
  justify-content : center;
}

/* 가진 재료 검색 */

#ownGroup {
	padding-top: .75rem;
	padding-bottom: .75rem;/* 
	background-color: #E4EEF0; */
	border: 1px solid white;
}

#ownGroup:hover {
	/* background-color: #ff7851; */
	border: 1px solid #E4EEF0;
	/* color: white; */
}

