.card {
	width: 250px;
	border: 1px solid black;
	flex-direction: column;
	padding : 10px;
	margin : auto;
}

.card-img {
	height: 150px;
	display: flex;
}

.card-head {
	height: 70px;
	background-color: thistle;
	font-size : 20px;
	text-align : center;
}


.card-main {
	height: 130px;
	font-size : 20px;
	text-align : center;

}

.card-footer {
	height: 50px;
	background-color: thistle;
	text-align : center;
}

.card-container > .card {
	float : left;
	
}

.card {
	margin : 15px;
}


#searchForm {
	  	display: flex;
  		width: 100%;
  		max-width: 600px;
	
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px 0 0 5px;
  font-size: 16px;
}


