@charset "UTF-8";

label{
		font-size:25px;
		font-weight:bold;
	}
	
	.form-group{
		margin-top:30px;
	}
	
	.form-control, input, .form-select{
		background: #f5f5f5;
    border: 1px solid #e1e1e1;
    font-size: 18px;
    padding-left: 15px;
    height: 50px;
    vertical-align: middle;
	}
	.form-control:focus, input:focus, .form-select:focus {
  color: #333;
  background-color: #fff;
  border-color: #f4aa90;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(233, 84, 32, 0.25);
}

.form-select, .addIngredient_name, .addIngredient_amount{
	text-align: center;
}

#modi_button:hover{
  transition: transform 1s;
  filter: brightness(70%);
}