.themed-grid-col {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: #E9ECEF;
  border: 1px solid white;
}

#cartVerticalP, #calCount {
	display: flex;
	align-items: center;
}

#cartVertical {
	margin: auto;
}

#cartGroup {
  border: 1px solid #E9ECEF;
}

#cartGroup .themed-grid-col {
  background-color:  transparent;
}

#cartGroup:hover .themed-grid-col{
  background-color: #6BD0FE;
  color:white;
}

#ownGroup:hover {
  background-color: #6BD0FE;
  border: 1px solid white;
  color:white;
}

.themed-container {
  padding: .75rem;
  margin-bottom: 1.5rem;
  background-color: rgba(112.520718, 44.062154, 249.437846, .15);
  border: 1px solid rgba(112.520718, 44.062154, 249.437846, .3);
}

.mypageBtn{	
  border: 1px solid #E9ECEF;
  border-radius: .5rem;
}

.mypageBtn:hover {	
  border: 1px solid white;
  background-color: #6BD0FE;
  color:white;
}

.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;   
    padding: 4px 0;
    margin: 0 0 10px 25px;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
  max-height: 200px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
  height: auto;
}

.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
    text-decoration: none;
}

.ui-state-hover, .ui-state-active {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
}

.container-fluid{
	margin-left:30px;
	margin-top:30px;
}