.register_title {
    background: #f8f8f8;
    border-bottom: 1px solid #e6e7e8;
    padding: 14px 18px;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    text-align: center;
    color: #33afe9;
}

.wrapper_box {
    padding: 26px 50px;
    border-bottom: 10px solid #f1f1f2;
    margin: 0 -1px;
}

.cont_pic2 {
    width: 300px;
    float: right;
    margin-right: 60px;
}

.wrapper_line{
  padding: 25px 0px 0px;
  width: 100%;
  background-color: white;
  border: 1px solid white;
  
}

.wrapper_title1 {
    width: 140px;
    display: inline-block;
    font-size: 20px;
    font-weight: normal;
    vertical-align: top;
    padding: 0px 0px 0px 2px;
	margin: 0px 0px 22px;
	color: #33afe9;
    
}

.wrapper_box p {
    font-size: 20px;
    padding: 0 0 0 2px;
    margin: 0 0 22px 0;
    line-height: 50px;
    display: inline-block;
}

.wrapper_box select {
    background: #f5f5f5;
    border: 1px solid #e1e1e1;
    font-size: 16px;
    padding: 10px 4px;
    margin: 0 2px 0 0;
    border-radius: 4px;
}

.wrapper ul, .wrapper li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.wrapper_box li input {
    display: inline-block;
    margin: 0 3px;
    vertical-align: middle;
}

.pad_l_60 {
    padding-left: 300px !important;
}

.pad_l_60 input{
	background: #f5f5f5;
    border: 1px solid #e1e1e1;
    font-size: 16px;
    padding-left: 15px;
    height: 50px;
    vertical-align: middle;
    margin-top: -1px;
}

.pad_l_60 textarea{
	height:120px; 
	width: 610px; 
	resize: none;
	margin: 4px 0px;
	padding-left: 10px;
}

.pad_l_60 .tip textarea{
	margin: 10px 0px 10px 0px;
}

.recipeName{
	padding: 6px 12px 6px 15px;
	margin: -1px 0px 0px;
}

.wrapper_box .form_select{
	width: 80px;
	display: inline-block;
	text-align:center;
}

ul {
    display: inline-flex;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}


.wrapper_box2 .step_title_1 {
    width: 100px;
    display: inline-block;
    font-size: 18px;
    font-weight: normal;
    vertical-align: top;
    color: #33afe9;
    margin-left: 40px;
}
.wrapper_box2 .wrapper_title2 {
    font-size: 20px;
    font-weight: normal;
    margin: 50px 0px 22px;
    width: 100%;
    color: #33afe9;
}

.step_cont {
    display: inline-block;
    vertical-align: middle;
    background: #f5f5f5;
    border: 1px solid #e1e1e1;
    font-size: 16px;
    line-height: 25px;
}

.step img {
    border: 1px solid #e1e1e1;
    display: inline-block;
    vertical-align: middle;
}

.wrapper_box2 .tip_title_1 {
    width: 100px;
    display: inline-block;
    font-size: 18px;
    font-weight: normal;
    vertical-align: top;
    color: #33afe9;
    margin-left: 40px;
}


.regi_btm {
    border: 1px solid #e6e7e8;
    background: #fff;
    text-align: center;
    padding: 35px 0 40px 0;
    border-top: none;
}

.mag_b_25 {
    margin-bottom: 25px !important;
}

// Cerulean 5.2.2
// Bootswatch


// Variables

$text-shadow: 0 1px 0 rgba(0, 0, 0, .05) !default;

:root {
  color-scheme: light;
}

// Mixins

@mixin btn-shadow($color){
  @include gradient-y-three-colors(tint-color($color, 16%), $color, 60%, shade-color($color, 6%));
}

// Navbar

.navbar {
  @each $color, $value in $theme-colors {
    &.bg-#{$color} {
      @include btn-shadow($value);
    }
  }
}

.navbar-brand,
.nav-link {
  text-shadow: $text-shadow;
}

// Buttons

.btn {
  text-shadow: $text-shadow;
}

.btn-secondary,
.btn-outline-secondary {
  color: $gray-700;
}

@each $color, $value in $theme-colors {
  .btn-#{$color} {
    @include btn-shadow($value);
  }
}

// Typography

.text-secondary {
  color: $gray-500 !important;
}

.bg-primary,
.bg-success,
.bg-info,
.bg-warning,
.bg-danger,
.bg-dark {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $white;
  }
}

// Navs

.dropdown-menu {
  .dropdown-header {
    color: $gray-600;
  }
}

// Indicators

.badge {
  &.bg-secondary,
  &.bg-light {
    color: $dark;
  }
}

.save{
	background-image: linear-gradient(#50b3eb, #2fa4e7 60%, #2c9ad9);
    --bs-btn-padding-y: 0.5rem;
    --bs-btn-padding-x: 1rem;
    --bs-btn-font-size: 1.25rem;
    --bs-btn-border-radius: 0.5rem;
    --bs-btn-color: #fff;
    --bs-btn-bg: #2fa4e7;
    --bs-btn-border-color: #2fa4e7;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #288bc4;
    --bs-btn-hover-border-color: #2683b9;
    --bs-btn-focus-shadow-rgb: 78, 178, 235;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #2683b9;
    --bs-btn-active-border-color: #237bad;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #2fa4e7;
    --bs-btn-disabled-border-color: #2fa4e7;
    -webkit-appearance: button;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    border-radius: 0.3rem;
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;	
}

.modal{
    display:none;
    position: absolute;
}
