@charset "UTF-8";

.TopTen_recipe {
	text-align : center;
	font-family: 'Jua', sans-serif;
}

.TopTen_recipe > img{
	width : 300px;
	height : auto;
	
}

table {
  height: 500px;
  overflow-y: scroll;
}

.TopTen_recipe > td,th{
	line-height : 1.5;
	width : auto;
}








