@charset "UTF-8";

.TopTen_recipe {
	text-align : center;
	font-family: 'NanumGothic';
}

.TopTen_recipe > td{
	max-width : 100% ;
	height : auto;
}



td img{
	max-width : 100%;
	height : auto;
}

table {
  height: 500px;
  overflow-y: scroll;
  border-collapse: collapse;
  background-color : #187587;
}

.TopTen_recipe > td,th{
	line-height : 1.5;
	width : auto;
	text-align : "center"
}

a {
	text-decoration:none;
}




